html, body{
    margin:0;
    padding:0;
}

body{
    padding: 0 41.6px;
    background-image: url("./subtle-background.png");
    background-attachment: fixed;
}

.h{
    display: none;
}

#final_div{
    position: fixed;
    bottom:4rem;
    right:4rem;
}

#recycle_div{
    position: fixed;
    bottom:4rem;
    left:4rem;
}