input[type=range]::-webkit-slider-thumb {
    background-color: #f57f17;
  }
  input[type=range]::-moz-range-thumb {
    background-color: #f57f17;
  }
  input[type=range]::-ms-thumb {
    background-color: #f57f17;
  }

  /***** These are to edit the thumb and the text inside the thumb *****/
  input[type=range] + .thumb {
    background-color: #dedede;
  }
  input[type=range] + .thumb.active .value {
    color: black;
  }